@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background: #001821;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    background: url(/img/1.png);
}

a {
    color: inherit;
}
.wrapper {
    width: 1142px;
    margin: 0 auto;
    
    
}
.container {
    width: 1141px;
    margin: 0 auto;
}
.header {
    height: 100px;
    position: relative;
}

.logo {
    display: block;
    position: absolute;
    top: 29px;
    left: 0px;
}



.menu {
    position: absolute;
    left: 79px;
    top: 42px;
}

.contacts {
    position: absolute;
    right: 0px;
    top: 26.64px;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 79px;
}

ul li {
    list-style: none;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
}

.menu__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-right: 50px;
    text-decoration: none;
}
.menu__link:hover {
    color: #DA0100;
}
.contacts {
    font-style: normal;
    text-align: right;
}
.contacts__phone {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-decoration: none;
    margin-bottom: 2px;
}
.contacts__info {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    align-items: center;
    text-decoration-line: underline;
}

.hello {
   max-width: 511px;
}

.hero__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 98px;
    margin-bottom: 27.5px;
    margin-top: 46px;
}

.hero__subtitile {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.btn__hello {
    margin-top: 33.5px;
}

.btn {
    background: #F5170E;
    border-radius: 35px;
    width: 168px;
    height: 55px;
    
}
.btn a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.section {
    width: 362px;
    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    color: #000000;
    display: inline-block;
    margin-right: 27px;
}
.section__img {
    margin: 0;
}
.offers__info {
    padding: 33px 28px 36px;
    position: relative;
}

.offers__titile {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 10px 22px 21px;
    display: inline;
   
}
.flame {
    display: inline;
}
.item__img {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0;
    margin-right: 10px;
    position: absolute;
    left: 26px;
}

.nights {
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.btn__offers {
    margin: 24px auto 26px;
    text-align: center;
}