@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background: #001821;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    background: url(./img/1.png) no-repeat;
    background-color:#000000;
}
* {
    box-sizing: border-box;
}
a {
    color: inherit;
}
.wrapper {
    width: 1142px;
    margin: 0 auto;
    
    
}
.container {
    width: 1141px;
    margin: 0 auto;
}
.header {
    padding-top: 45px;
    display: flex;
}

.logo {
    margin-right: 100px;
}



.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.menu {
    
}

.contacts {
    top: 26.64px;
}

ul {
    margin: 0;
    padding: 0;
    
}

ul li {
    list-style: none;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
}

.menu__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-right: 50px;
    text-decoration: none;
}
.menu__link:hover {
    color: #DA0100;
}
.contacts {
    font-style: normal;
    text-align: right;
}
.contacts__phone {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-decoration: none;
    margin-bottom: 2px;
}
.contacts__info {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    align-items: center;
    text-decoration-line: underline;
}

.hello {
   max-width: 511px;
}

.hero__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 98px;
    margin-bottom: 27.5px;
    margin-top: 46px;
}

.hero__subtitile {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.btn__hello {
    margin-top: 33.5px;
}

.btn {
    background: #F5170E;
    border-radius: 35px;
    width: 168px;
    height: 55px;
    
}

.btn:hover {
    background:#DA0100;
    color: #fff;
}

.btn a:hover {
    
}

.btn a {
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.btn__offers{
    padding: 0px;
}
.btn__white{
    background: #fff;
    color: #DA0100;
    
}

.btn__white a {
    color: #F5170E;
}

.offers__header{
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    margin-top: 246px;
}
.section {
    width: 362px;
    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    color: #000000;
    display: inline-block;
    margin-right: 10px;
}

.last__section {
   margin-right: 0px; 
}

.section__img {
    margin: 0;

}

.offers__list {
    display: flex;
    justify-content: space-between;
}

.offers__info {
    padding: 33px 28px 0px;
    position: relative;
}

.offers__titile {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 10px 22px 21px;
    display: inline;
   
}
.flame {
    display: inline;
    height: 28px;
}
.item__img {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0;
    
    position: absolute;
    left: 26px;
}

.nights {
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 90px;

}

.breakfast {
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 90px; 
}

.btn__offers {
    margin: 24px auto 26px;
    text-align: center;
}

.btn-wrapper {
    text-align: center;
}



.news__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-top: 127px;
    margin-bottom: 51px;
}

.news__list {
    display: flex;
    justify-content: space-between;
}

.news__window {
    height: 394px;
    width: 557px;
    position: relative;
    display: inline-block;
}
.news__window--img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news__text {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    padding: 0px 30px 30px 26px;
}
.news__data {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.news__text p {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.news__text--desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 47.5px;
}

.paper {
    text-align: center;
}

.paper__number, .paper__list {
    display: inline-block;
    vertical-align: middle;
}
.paper{
    margin-top: 58px;
}
.paper__item {
    display: inline-block;
    
}
.paper__item--link {
    display: block;
    width: 32px;
    height: 32px;
    font-weight: bold;
    border-radius: 50%;
    text-decoration: none;
    line-height: 32px;

}

.paper__item--active .paper__item--link{
    color: #F5170E;
    background-color: #fff;
}

.paper__item--link:hover {
    color: #F5170E;
    background-color: #fff; 
}
.about__hero {
    position: relative;
}
.about {
    position: relative;
    width: 785px;
    height: 455px;
    margin-top: -400px;
    margin-left: 350px;
    position: absolute;
}

.about__desc {
    position: absolute;
    margin-bottom: 0px;
    bottom: 0px;
    padding: 0px 81px 43px;
    
}
.about__title {
    color: #000000;
}
.about__desc-text {
    color: #000;
}

.about__subimg {
    width: 490px;
    height: 505px;
    border-radius: 5px;
}

.about__hero {
    margin-top: 124px;
}

.footer {
    display: flex;
    padding-top: 150px;
    border-top: #FFFFFF;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__footer {
    margin-left: 50px;
}

.menu__item--footer {
    display: inline-block;
    vertical-align: middle;

}

.menu__item--link--foooter {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-right: 50px;
    text-decoration: none;
}
.menu__item--link--foooter:hover {
    color: #DA0100;
}

.social {
    text-align: right;
}

.social__item {
    display: inline-block;
    margin-right: 10px;
}
.contacts__footer {
    display: inline-block;
    text-align: right;
    margin-left: 50px;

}

.free__call {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}

.offers__list li { 
    
}
.offers__list li:nth-child(3) {
    margin-right: 0px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__col--right {
    justify-content: flex-end;
    align-items: center;
}
